<% if @contributor %>
  <% content_for(:title, @contributor.name + " | Recipes") %>
<% else %>
  <% content_for(:title, "Main Menu | Recipes") %>
<% end %>

<h1>Recipes
  <%= @contributor ? " from " + @contributor.name : "" %>
</h1>

<ul>
  <% @recipes.each do |recipe| %>
    <li><a href="/recipes/<%= recipe.id%>/show"><%= recipe.name %></a> |
      <a href="/recipes/<%= recipe.id%>/edit">Edit</a> |
      <a href="/recipes/<%= recipe.id %>"
      data-confirm="You sure?"
      data-method="delete"
      rel="nofollow">Delete</a></li>
  <% end %>
</ul>


